[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ineqJD"]
	path = ineqJD
	url = https://github.com/cran/ineqJD
[submodule "parsec"]
	path = parsec
	url = https://github.com/cran/parsec
[submodule "POSetR"]
	path = POSetR
	url = https://github.com/cran/POSetR
